body {
  margin: 0;
  padding: 0;
}

.App {
  background-color: #18191a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: #f5f6f7;
}

.todo-item {
  display: flex;
  justify-content: space-between;
}